.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 100vh;
}

.header-cta p {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.cta-link {
    padding: 1rem;
    color: blue;
    border-radius: 10px;
    background-color: beige;
}

.cta-link:hover {
    background-color: white;
}